 /* ///////////// haut de page \\\\\\\\\\\  */

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    height: 120px;
    background-color: rgba(181, 19, 19, 0.2);
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.backgroundIndex{
    background-color: rgb(49, 72, 71);
}

h1{
    display: flex;
    align-items: center;
    color: #ffcc00;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    margin-left: 2%;
}

a{
    display: flex;
    align-items: center;
    color: #ffcc00;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    margin-right: -80px;
}

a:hover{
    color: #ffcc005a;
}

h2{
    display: flex;
    align-items: center;
    color: #ffcc00;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
}

h3{
    display: flex;
    align-items: center;
    color: #ffcc00;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    margin-top: -100px;
}

.container{
    width: 60%;
    height: 470px;
    margin: auto;
    display: flex;
    justify-content: center;
}

 /* ///////////// container page livre or \\\\\\\\\\\  */

.containerLO{
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(181, 19, 19, 0.2);
    color: #ffcc00;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 60px;
}

 /* ///////////// css formulaires \\\\\\\\\\\  */

.formInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    justify-content: center;
    margin-bottom: 40px;
    margin: 0 auto;
    width: 400px;
    border: 1px solid#ffcc00;
    border-radius: 12px;
    padding: 10px;
    height: 180px;
    color: #ffcc00;
  }
  
  form div + div {
    margin-top: 10px;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
  input, textarea {
    
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #FC0;
    background-color: rgba(181, 19, 19, 0.2);
    color:#FC0;
    font-family: 'Source Code Pro', monospace;
  }
  
  input:focus, textarea:focus {
    border-color: #FC0;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
    background-color: #4B3D3C;
    color: #FC0;
    font-family: 'Source Code Pro', monospace;
  }
   /* ///////////// tableau chat \\\\\\\\\\\  */

  table{
    padding: 20px;
    border: solid;
    width: inherit;
    border-spacing: 10px;

  }

.com{
    width: 60%;
    background-color: #314847; 
    border: #FC0 solid 0.5px;
}

.name{
    width: 20%;
    background-color:#314847;
    border: #FC0 solid 0.5px;
   
}

.date{
    width: 20%;
    background-color:#314847;
    border: #FC0 solid 0.5px;
}

.title{
    background-color:#314847;
    border: #FC0 solid 0.5px;

}

  .button {
    padding-left: 155px;
    ;
  }
  
  button {
    margin-left: 5px ;
    background-color: rgba(181, 19, 19, 0.2);
    color: #ffcc00;
    border: #ffcc00 solid 2px;
  }

   /* /////////////footer \\\\\\\\\\\  */

footer{
    height: 80px;
    background-color: rgba(181, 19, 19, 0.2);
    display: flex;
    justify-content: space-around;
    color: #ffcc00;
    align-items: center;
}

.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 16px;  
    width: 50px;  
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }  

.fa-github {  
    color: white;  
    height: 20px;
  } 
   
  .fa:hover {  
    opacity: 0.9;  
}  


